@import "./globals";
.App {
  width: 100%;
  height: 100vh;
  background-image: $backgroundImage;
  background-repeat: repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .right {
    flex: 10;
  }
  .left {
    flex: 20;
  }
  button {
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 100px;
    border: none;
    background-color: #ffac41;
    border-radius: 5px;

    color: black;
    &:hover {
      cursor: pointer;
    }
  }
  .startgame {
    font-size: 1.3rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 150px;
    border: none;
    background-color: #ffffff;
    border-radius: 5px;

    color: black;
    &:hover {
      cursor: pointer;
    }
  }
}
